*{
    padding: 10;
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root { /* root pseudoclass matches root element of tree representing document (html doc) */
    --bg-color: #ffffff; /* -- indicates custom properties */
    --text-color: #000;
    --second-color: #a09dab;
    --main-color: rgb(238, 11, 106);
    --big-font: 2.2rem;
    --p-font: 1.1rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.abt section {
    padding: 4% 20% !important;
}

section:not(.abt) {
    padding: 2% 3%;
}
.social a {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    font-size: 35px;
    color: var(--bg-color);
    margin-right: .4rem;
    margin-bottom: 1rem;
}
.social a:hover {
    transform: scale(1.1);
    background: var(--main-color);
    transition: .5s;
}
.ends {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.abt-text h1 {
    font-size: var(--big-font);
    margin-top: -2rem;
}
.abt-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.abt-text h3 {
    font-size: 1.75rem;
    margin-top: 1.75rem;
}
.abt-text p {
    font-size: (var(--p-font));
    margin-top: .75rem;
}
.exp {
    margin-top: -3rem;
    border-color: rgb(238, 11, 106);
    border-style: solid;
    border-width: .15rem;
    border-radius: 1rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1rem;
}
.exp-text h1 {
    font-size: var(--big-font);
    margin-bottom: 1rem;
}
.exp-text h2 {
    margin-top: 1rem;
}
.exp-text h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.exp-text p {
    margin-top: .5rem;
}
.proj {
    margin-top: 0rem;
    border-color: rgb(238, 11, 106);
    border-style: solid;
    border-width: .15rem;
    border-radius: 1rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1rem;
}
.proj-text h1 {
    font-size: var(--big-font);
    margin-bottom: 1rem;
}
.proj-text h2 {
    margin-top: 1rem;
}
.proj-text h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.proj-text p {
    margin-top: .5rem;
}
.skills {
    margin-top: 0rem;
    border-color: rgb(238, 11, 106);
    border-style: solid;
    border-width: .15rem;
    border-radius: 1rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1rem;
}
.skills-text h1 {
    font-size: var(--big-font);
    margin-bottom: 1rem;
}
.skills-text h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
}
.skills-text h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.skills-text p {
    margin-top: .5rem;
}
.education {
    margin-top: 0rem;
    border-color: rgb(238, 11, 106);
    border-style: solid;
    border-width: .15rem;
    border-radius: 1rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1rem;
}
.edu-text h1 {
    font-size: var(--big-font);
    margin-bottom: 1rem;
}
.edu-text h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
}
.edu-text h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.edu-text p {
    margin-top: .5rem;
}
.coursework {
    margin-top: 0rem;
    border-color: rgb(238, 11, 106);
    border-style: solid;
    border-width: .15rem;
    border-radius: 1rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1rem;
}
.coursework-text h1 {
    font-size: var(--big-font);
    margin-bottom: 1rem;
}
.coursework-text h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
}
.coursework-text h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.coursework-text p {
    margin-top: .5rem;
}
.organizations {
    margin-top: 0rem;
    border-color: rgb(238, 11, 106);
    border-style: solid;
    border-width: .15rem;
    border-radius: 1rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1rem;
}
.org-text h1 {
    font-size: var(--big-font);
    margin-bottom: 1rem;
}
.org-text h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
}
.org-text h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.org-text p {
    margin-top: .5rem;
}
.funstuff {
    margin-top: 0rem;
    border-color: rgb(238, 11, 106);
    border-style: solid;
    border-width: .15rem;
    border-radius: 1rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2rem;
}
.fun-text h1 {
    font-size: var(--big-font);
    margin-bottom: 1rem;
}
.fun-text h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
}
.fun-text h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fun-text p {
    margin-top: .5rem;
}
.contactme {
    margin-top: 0rem;
    /* border-color: rgb(238, 11, 106);
    border-style: solid;
    border-width: .2rem;
    border-radius: 5rem; */
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2.5rem;
}
.contactme-text h1 {
    font-size: var(--big-font);
    margin-bottom: 1rem;
    text-align: center;
}
.contactme-text p {
    margin-top: .5rem;
    font-size: 1.25rem;
    text-align: center;
}
@media (max-width: 480px) {
    * {
        margin: 5px;
    }
    .abt {
        margin-left: -10% !important;
    }
}